@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", serif;
  box-sizing: border-box;
}

.barlow-black-italic {
  font-family: "Barlow", serif;
  font-weight: 900;
  font-style: italic;
}

.oswald {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
}
#header .container {
  padding: 10px 30px;
}
#header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#header .container nav img {
  width: 60px;
  border-radius: 50%;
  border-style: solid;
  border-color: #ff004f;
}
#header .container nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
#header .container nav ul li a {
  color: rgb(29, 27, 27);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
#header .container nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
#header .container nav ul li a:hover::after {
  width: 100%;
}
#header .header-text {
  margin-top: 15%;
  font-size: 30px;
  padding-left: 8%;
}
#header .header-text p {
  text-transform: capitalize;
}
#header .header-text h1 {
  font-family: "Oswald", serif;
  margin-top: 20px;
}
#header .header-text h1 span {
  font-family: "Oswald", serif;
  color: #ff004f;
}

#about {
  padding: 80px 0;
  color: rgb(235, 117, 156);
}
#about .container {
  padding: 0 10%;
}
#about .container .about-col-1 {
  flex-basis: 35%;
}
#about .container .about-col-1 .mySlides img {
  max-height: 70vh;
  border-radius: 15px;
}
#about .container .about-col-2 {
  flex-basis: 60%;
}
#about .container .about-col-2 .tab-title h1 {
  font-size: 30px;
  font-family: "Oswald", serif;
  color: cornflowerblue;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tab-title {
  display: flex;
  margin: 20px 0 40px;
}
.tab-title .tab-links {
  margin-right: 50px;
  font-size: 18px;
  cursor: pointer;
  position: relative;
}
.tab-title .tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  left: 0;
  position: absolute;
  bottom: -8px;
  transition: 0.5s;
}
.tab-title .active-link::after {
  width: 50%;
}

.tab-contents {
  display: none;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul span {
  color: rgb(115, 72, 115);
  font-size: 14px;
}

.tab-contents.active-tab {
  display: block;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container .mySlides {
  display: none;
}
.slideshow-container .prev, .slideshow-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.slideshow-container .next {
  left: 80%;
  border-radius: 3px 0 0 3px;
}
.slideshow-container .prev:hover, .slideshow-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.slideshow-container .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#Portfolio {
  padding: 50px 100px;
}
#Portfolio .location-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
#Portfolio .location-list .location {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
#Portfolio .location-list .location img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
#Portfolio .location-list .location img:hover {
  transform: scale(1.1);
}
#Portfolio .location-list .layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #f76d99);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  transition: height 0.5s;
}
#Portfolio .location-list .layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
#Portfolio .location-list .layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
#Portfolio .location:hover .layer {
  height: 100%;
}
#Portfolio .btn {
  display: block;
  margin: 50px auto;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  transition: background 0.5s;
}
#Portfolio .btn:hover {
  background: #ff004f;
}

#contact .contact-container {
  padding: 20px 10%;
}
#contact .contact-container .contact-left {
  flex-basis: 35%;
}
#contact .contact-container .contact-left p {
  margin-top: 30px;
}
#contact .contact-container .contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 20px;
}
#contact .contact-container .contact-left .social-icon {
  margin-top: 30px;
}
#contact .contact-container .contact-left .social-icon a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: rgb(235, 117, 156);
  display: inline-block;
  transition: transform 0.5s;
}
#contact .contact-container .contact-left .social-icon a :hover {
  color: #ff004f;
  transform: translateY(-5px);
}
#contact .contact-container .contact-right {
  flex-basis: 60%;
}
#contact .contact-container .contact-right form {
  width: 100%;
}
#contact .contact-container .contact-right form input, #contact .contact-container .contact-right form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: rgb(235, 117, 156);
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
#contact .contact-container .btn.btn2 {
  display: inline-block;
  margin: 30px auto;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.5s;
  cursor: pointer;
}
#contact .contact-container .btn.btn2:hover {
  background: #ff004f;
}
#contact .copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(249, 188, 198);
  font-weight: 300;
  margin-top: 20px;
}

nav .fa-solid {
  display: none;
}/*# sourceMappingURL=styles.css.map */